<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Program
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div class="table">

		<div class="timeline">
			<div class="time">17:00</div>
			<div class="time">17:30</div>
			<div class="time">18:00</div>
			<div class="time">18:30</div>
			<div class="time">19:00</div>
			<div class="time">19:30</div>
			<div class="time">20:00</div>
			<div class="time">20:30</div>
			<div class="time">21:00</div>
			<div class="time">21:30</div>
			<div class="time">22:00</div>
			<div class="time">22:30</div>
			<div class="time">23:00</div>
			<div class="time">23:30</div>
			<div class="time">00:00</div>
			<div class="time">00:30</div>
			<div class="time">01:00</div>
			<div class="time">01:30</div>
			<div class="time">02:00</div>
			<div class="time">02:30</div>
			<div class="time">03:00</div>
			<div class="time">03:30</div>
		</div>

		<div class="row" *ngFor="let room of rooms$ | async">
			<div class="room">{{room}}</div>
			<div class="presentations">
				<ng-container *ngFor="let event of events$ | async">
					<div class="presentation" *ngIf="event.room == room" [style.left.px]="(event.start_time | calcLeftPixelShift) * 700"
					[style.width.px]="event.length / 60 * 700">
					
						<div class="icon">
							<div class="overlay">
								<div class="text">{{event.start_time | calcTime : event.length}}</div>
							</div>
						</div>
						<div class="metadata">
							<div class="title">{{event.event}}</div>
							<div class="subtitle">{{event.subtext}}</div>
						</div>
						<div class="follow">
							<ion-icon name="star-outline"></ion-icon>
					
						</div>
					</div>
				</ng-container>
			</div>
		</div>

	</div>

</ion-content>