.timeline {

    height: 35px;
    display: flex;
    align-items: center;
    background-color: gray;

    .time {

        width: 340px;
        
    }

}

.presentation {

    width: 440px;
    height: 130px;
    border-radius: 15px;
    background-color: white;

    .icon {

        height: 100%;
        width: 135px;
        background: url('https://firebasestorage.googleapis.com/v0/b/pinoc-2019.appspot.com/o/carina-nebula-1995394_1280.jpg?alt=media');
        background-size: cover;
        background-position: center center;
    }

}