<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Program
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="table">



    <div class="timeline">

      <div class="time">13: 40</div>

      <div class="time">13: 40</div>

      <div class="time">13: 40</div>

      <div class="time">13: 40</div>

    </div>



    <div class="row">

      <div class="place">4. D</div>

      <div class="presentations">

        <div class="presentation">

          <div class="icon">

            <div class="overlay">

              <div class="text">17:00 - 18:30</div>

            </div>

          </div>

          <div class="title">Cernobyl</div>

          <div class="subtitle">Pastor</div>

        </div>

      </div>

    </div>



  </div>

</ion-content>
