<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Program
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div class="table">

		<div class="timeline">
			<div class="time">17:00</div>
			<div class="time">17:30</div>
			<div class="time">18:00</div>
			<div class="time">18:30</div>
			<div class="time">19:00</div>
			<div class="time">19:30</div>
			<div class="time">20:00</div>
			<div class="time">20:30</div>
			<div class="time">21:00</div>
			<div class="time">21:30</div>
			<div class="time">22:00</div>
			<div class="time">22:30</div>
			<div class="time">23:00</div>
			<div class="time">23:30</div>
			<div class="time">00:00</div>
			<div class="time">00:30</div>
		</div>

		<div class="row">
			<div class="room">4. D (245)</div>
			<div class="presentations">
				<div class="presentation">
					<div class="icon">
						<div class="overlay">
							<div class="text">17:00 - 18:30</div>
						</div>
					</div>
					<div class="metadata">
						<div class="title">(Ne)přesnosti v seriálu Černobyl</div>
						<div class="subtitle">Ing. Radim Možnar</div>
					</div>
					<div class="follow">
						<ion-icon name="star-outline"></ion-icon>
					</div>
				</div>
			</div>
		</div>

		<!-- mock data, more rooms -->

		<div class="row">
			<div class="room">8. A (128)</div>
			<div class="presentations">
				<div class="presentation">
					<div class="icon">
						<div class="overlay">
							<div class="text">17:00 - 18:30</div>
						</div>
					</div>
					<div class="metadata">
						<div class="title">Barevná poezie vesmíru</div>
						<div class="subtitle">RNDr. Tomáš Graf Ph. D.</div>
					</div>
					<div class="follow">
						<ion-icon name="star-outline"></ion-icon>
					</div>
				</div>
				<div class="presentation" style="left:170px; width: 880px;">
					<div class="icon">
						<div class="overlay">
							<div class="text">17:00 - 18:30</div>
						</div>
					</div>
					<div class="metadata">
						<div class="title">Barevná poezie vesmíru</div>
						<div class="subtitle">RNDr. Tomáš Graf Ph. D.</div>
					</div>
					<div class="follow">
						<ion-icon name="star-outline"></ion-icon>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="room">IVT1 (302)</div>
			<div class="presentations">
				<div class="presentation">
					<div class="icon">
						<div class="overlay">
							<div class="text">17:00 - 18:30</div>
						</div>
					</div>
					<div class="metadata">
						<div class="title">5400RPM, aneb proč je všechno pomalé</div>
						<div class="subtitle">vignedev</div>
					</div>
					<div class="follow">
						<ion-icon name="star-outline"></ion-icon>
					</div>
				</div>
				<div class="presentation" style="left: 340px;">
					<div class="icon">
						<div class="overlay">
							<div class="text">17:00 - 18:30</div>
						</div>
					</div>
					<div class="metadata">
						<div class="title">Release-active drugs</div>
						<div class="subtitle">Lucie Peterková</div>
					</div>
					<div class="follow">
						<ion-icon name="star-outline"></ion-icon>
					</div>
				</div>
			</div>
		</div>

	</div>

</ion-content>
