<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Program
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<div class="table" *ngIf="{events: events$ | async, rooms: rooms$ | async} as obs">
			<div class="timeline">
				<div class="time">17:00</div>
				<div class="time">17:30</div>
				<div class="time">18:00</div>
				<div class="time">18:30</div>
				<div class="time">19:00</div>
				<div class="time">19:30</div>
				<div class="time">20:00</div>
				<div class="time">20:30</div>
				<div class="time">21:00</div>
				<div class="time">21:30</div>
				<div class="time">22:00</div>
				<div class="time">22:30</div>
				<div class="time">23:00</div>
				<div class="time">23:30</div>
				<div class="time">00:00</div>
				<div class="time">00:30</div>
				<div class="time">01:00</div>
				<div class="time">01:30</div>
				<div class="time">02:00</div>
				<div class="time">02:30</div>
				<div class="time">03:00</div>
				<div class="time">03:30</div>
			</div>

			<div class="row" *ngFor="let room of obs.rooms">
				<div class="room">{{room | roomFormat}}</div>
				<div class="presentations">
					<ng-container *ngFor="let event of obs.events">
						<div class="presentation" *ngIf="event.room == room"
							[style.left.px]="(event.time | calcLeftPixelShift) * 600"
							[style.width.px]="event.length / 60 * 600">

							<div class="icon" *ngIf="event.length > 30 && event.image"
								[style.background]="'url('+event.image+')'" (click)="showDetail(event)">
								<div class="overlay">
									<div class="text">{{event.time | calcTime : event.length}}</div>
								</div>
							</div>
							<div class="metadata" (click)="showDetail(event)">
								<div class="subtitle" *ngIf="event.length <= 30 || !event.image">
									{{event.time | calcTime : event.length}}</div>
								<div class="title">{{event.title}}</div>
								<div class="subtitle">{{event.author}}</div>
							</div>
							<div class="follow" (click)="presentationAction(event.id, event?.favorite);event.favorite = !event.favorite">
								<ion-icon name="star-outline" *ngIf="!event?.favorite"></ion-icon>
								<ion-icon name="star" *ngIf="event?.favorite"></ion-icon>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</ion-content>